extends partials/templates/_template.pug

block content
  +b.SECTION.page--front-page.container
    +e.inner 
      +e.form 
        include partials/components/_form--application.pug
      // Content
      +b.SECTION.content--half
        +e.H1.title Оперативная сертификация
        +e.text
          p С 1999 года сертификационный центр «Мостест» оказывает помощь в оформлении разнообразной разрешительной документации в области сертификации товаров и услуг. За 16 лет успешной работы были оформлены множество сертификатов и заключений, получен огромный опыт в области сертификации и сформирована команда специалистов.
          p На сегодняшний день сертификационный центр «Мостест» является полноправным филиалом органа по сертификации, аккредитованного в нескольких системах. Он представляет собой многопрофильный центр сертификации, имеющий широкие связи с различными государственными организациями.
    // Offer
    include partials/components/_offer.pug
    // Statistics
    include partials/components/_statistics.pug
    // Branches
    include partials/components/_branches.pug
    // Gratitude
    include partials/components/_gratitude.pug
    // Clients
    include partials/components/_clients.pug
    +e.page__bottom
      include partials/components/_reviews.pug
      include partials/components/_managers.pug
