extends partials/templates/template.pug
//- include partials/abstracts/bemto/bemto.pug

block content
  +b.SECTION.page--letter-glossary.container  
    +b.SECTION.breadcrumbs
      a(href="index.html") Центр сертификации Мостест
      =' > '
      a(href="page-glossary.html") Сертификация продукции
      =' > '
      span Все записи на букву "А" 
    +e.inner
      // Sidebar      
      +b.ASIDE.sidebar
        +e.form
          include partials/components/_form--application.pug
      // Content
      +b.SECTION.content
        +b.glossary
          +e.UL.list       
            +e.item--all Все записи:
            +e.item
              +e.link(href="letter-glossary.html") А
            +e.item
              +e.link(href="letter-glossary.html") Б
            +e.item
              +e.SPAN.letter В
            +e.item
              +e.link(href="letter-glossary.html") Г
            +e.item
              +e.link(href="letter-glossary.html") Д
            +e.item
              +e.link(href="letter-glossary.html") Е
            +e.item
              +e.SPAN.letter Э
            +e.item
              +e.SPAN.letter Ю
            +e.item
              +e.link(href="letter-glossary.html") Я
          +e.search
            +e.FORM.form(action='', method='', id='glossary-search')
              +e.INPUT.input(type='text', name='Поиск по записям', placeholder='Поиск по записям')

        +b.glossary-item  
          +e.A.link(href="page.html") Автомобили
        +b.glossary-item
          +e.A.link(href="page.html") Алкогольная продукция / Декларирование и сертификация алкогольной продукции
        +b.glossary-item  
          +e.A.link(href="page.html") Алюминий
        +b.glossary-item
          +e.A.link(href="page.html") Анкер / Сертификат на анкера
        +b.glossary-item  
          +e.A.link(href="page.html") Антенна / Сертификат на антенну
        +b.glossary-item
          +e.A.link(href="page.html") Асфальт / Сертификат на асфальт
        
    include partials/components/_clients.pug
    +e.page__bottom
      include partials/components/_reviews.pug
      include partials/components/_managers.pug


