extends partials/templates/template.pug
//- include partials/abstracts/bemto/bemto.pug

block content
  +b.SECTION.page--single-question.container  
    +b.SECTION.breadcrumbs
      a(href="index.html") Центр сертификации Мостест
      =' > '
      a(href="page-form-question.html") Вопрос-ответ
      =' > '
      span Декларация соответствия 
    +e.inner
      // Sidebar      
      +b.ASIDE.sidebar
        +e.form
          include partials/components/_form--application.pug
      // Content
      +b.SECTION.content
        +b.ARTICLE.question
          +e.H1.title Декларация соответствия 
          +e.date 01.09.2016
          +e.ask
            +e.person 
              +e.name Александра  
              | (Москва и Московская область, 1 сентября 2016)
            +e.text
              p Добрый день.
              p Подскажите, пожалуйста, может ли при оформление ДС ТР ТС продукции (масло) заявителем и изготовителем быть разные организации, зарегистрированные на территории РФ?
              p Масло изготовила российская организация, но заявителем на получение ДС хочет выступать другая российская организация.
              p ДС нужна на серию товара.
              p А если, например, изготовитель будет российский, а заявитель белорусский, то тогда возможно? И почему?
          +e.answer
            +e.person Евгения, +7 (812) 332-93-48, spb@mostest.ru
            +e.text
              p Здравствуйте, Александра.
              p Заявителем и изготовителем в декларации не могут быть разные юридические лица, зарегистрированные на территории стран Таможенного Союза. Декларация оформляется при вводе продукции в обращение, т.е. при выпуске продукции с завода, либо при ввозе продукции на территорию России. Когда российская организация произвела масло, она на это масло и оформила все необходимые документы. Оформлять декларацию на ту же самую продукцию, но на другого заявителя нельзя, это запрещено законом, поскольку ответственность за информацию, указанную в декларации несет заявитель. Зачем другая российская компания будет брать на себя ответственность за качество продукции, которую не производит?
              p То же самое касается и ситуации изготовитель — Россия, заявитель — Белоруссия.
              p Поскольку Вы приобретаете товар у изготовителя, у него на данную продукцию уже есть все необходимые документы.
              p Подобные декларации сейчас аннулируются, а органы по сертификации получают штрафы за такие документы.
          +e.A.link-back(href="page-form-question.html") Назад
          include partials/components/_share.pug
        +b.SECTION.navigation
          +e.A.link(href="single-question.html") Сертификат на оборудование
          +e.A.link(href="single-question.html") Сертификат на кедровые орехи и масло
        
    include partials/components/_clients.pug
    +e.page__bottom
      include partials/components/_reviews.pug
      include partials/components/_managers.pug


