.header{
  padding: 0 50px 20px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  outline: 1px solid $white;
  outline-offset: -5px;
  @include mq($from:xs, $until:lg){
    padding: 0 20px;
  }

  &__inner{
    position: relative;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq($from:xs, $until:lg){
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px 20px 0;
    }
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include mq($from:xs, $until:sm){
      justify-content: center;
    }
  }
  &__buttons{
    flex: 0 0 33%;
    text-align: right;
    max-width: 250px;
    margin-top: 25px;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      text-align: center;
    }
    .btn{
      margin-bottom: 10px;
    }
  }
}

.logo{
  flex: 0 0 33%;
  margin-top: -30px;
  text-align: left;
  @include mq($from:xs, $until:lg){
    flex: 0 0 50%;
    margin-top: 0;
    text-align: center;
  }
  @include mq($from:xs, $until:sm){
    flex: 0 0 100%;
  }
  &__img{
    display: block;
    width: 160px;
    height: auto;
    text-align: center;
    @include mq($from:xs, $until:lg){
      margin: 0 auto;
    }   
  }
  &__title{
    margin: 10px 0 0;
    font-family: $font-family-acrom;
    font-size: $font-size-logo;
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: $letter-spacing-logo;
  }
  &__description{
    margin: 5px 0 0;
    font-size: $font-size-slogan;
    text-transform: uppercase;
    font-weight: $regular;
  }
}

.nav{
  flex: 0 0 100%;
  display: flex;
  justify-content: flex-end;
  @include mq($from:xs, $until:lg){
    order: 1;
  }
  &__hamburger{
    display: none;
    text-align: center;
    position: absolute;
    top: 180px;
    right: calc(50% - 160px);
    transform: translateX(50%);
    @include mq($from:xs, $until:lg){
      display: block;
    }
    @include mq($from:xs, $until:sm){
      top: 310px;
      right: calc(50% - 140px);
    }
  }
  &__list-wrapper{
    flex: 0 0 50%;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      display: none;
    }
  }
  &__list{
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    @include mq($from:xs, $until:lg){
      padding: 0;
      text-align: center;
      margin-bottom: 0;
    }
  }
  &__item{
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      padding: 5px 0;
    }    
  }
  &__slash{
    @include mq($from:xs, $until:lg){
      display: none;
    }    
  }
  &__link{
    color: $text-color;
    font-weight: $semibold;
  }
}

.hamburger{
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 3px;
    background-color: $blue;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: $blue;
    }
    &:before{
      transform: translateY(-250%);
    }    
    &:after{
      transform: translateY(150%);
    }    
  }
}

.city{
  flex: 0 0 33%;
  max-width: 180px;
  margin: 15px auto 0;
  text-align: left;
  @include mq($from:sm, $until:lg){
    flex: 0 0 50%;
  }
  @include mq($from:xs, $until:sm){
    flex: 0 0 100%;
    text-align: center;
    margin-top: 25px;
  }
  &__name-wrapper{
    position: relative;
    margin-bottom: 5px;
  }
  &__name{    
    &:after{
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      @include sprite($s-icon-down);     
    }
    &:hover, &:focus{
      cursor: pointer;
    }
  }
  &__dropdown{
    display: none;
    text-align: left;
    position: absolute;
    z-index: 3;
    bottom: -10px;
    right: 0;
    padding-left: 0;
    margin: 0;
    transform: translateY(100%);    
    list-style-type: none;
    border: 1px solid $black;
    background-color: $body-bg;
  }
  &__item{
    cursor: pointer;
    padding: 5px 15px;
    @include transition();
    &:hover, &:focus{
      background-color: $blue-darker;
      color: $white;
    }
  }
  &__tel{
    display: block;
    font-size: $font-size-tel;
    color: $text-color;
    font-weight: $semibold;
    margin-bottom: 5px;
    position: relative;
    &:before{
      content: "";
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 3px;
      @include sprite($s-icon-phone); 
      position: absolute;  
      bottom: 0;
      transform: translateX(-120%);  
    }    
  }
  &__email{
    color: $text-color;
  }
}
