.nav{
  flex: 0 0 100%;
  display: flex;
  justify-content: flex-end;
  @include mq($from:xs, $until:lg){
    order: 1;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__hamburger{
    display: none;
    text-align: center;
    flex: 0 0 100%;
    @include mq($from:xs, $until:lg){
      display: block;
    }
  }
  &__list-wrapper{
    flex: 0 0 75%;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      display: none;
    }
  }
  &__list{
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    @include mq($from:xs, $until:lg){
      padding: 0;
      text-align: center;
      margin-bottom: 0;
    }
  }
  &__item{
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      padding: 5px 0;
    }    
  }
  &__slash{
    @include mq($from:xs, $until:lg){
      display: none;
    }    
  }
  &__link{
    color: $text-color;
    font-weight: $semibold;
  }
}

.hamburger{
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 3px;
    background-color: $blue;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: $blue;
    }
    &:before{
      transform: translateY(-250%);
    }    
    &:after{
      transform: translateY(150%);
    }    
  }
}
